.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background: var(--first-color);
    
}

.navbar__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--white-color);
}

.navbar__links li {
    margin: 0 1rem;
    cursor: pointer;   
}

.navbar__links li:hover {
    color: var(--hover-color)
}

.navbar__logo img {
    width: 102.56px;
    height: 36.02px;
}