
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');



:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --primary-color: #000;
  --secondary-color: #1F3B68;

  --marinewater-color: #6699FF;
  --green-color: #3AA566;
  --white-color: #FFFFFF;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --golden-color: #d48712;
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

body{
  background: var(--primary-color);
  color: var(--white-color);
}