
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');



:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Raleway", sans-serif;
    
  --first-color:#000000;
  --second-color:#1F3B68;
  --third-color: #6699FF;
  --fourth-color: #3AA566;
  --hover-color: #6b7688;
  
  --marinewater-color:#6699FF ;
  --green-color: #3AA566;
  --white-color: #FFFFFF;
  --brown-color: #46364a;
  --golden-color: #d48712;
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

body{
  background: var(--second-color);
  color: var(--white-color);
}