.gallery{
    display: flex;
    flex-direction: row;
    padding: 4rem 0 4rem 6rem;    
}

.gallery__images{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
}
.gallery__images-container{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.gallery__images-container::-webkit-scrollbar{
    display: none;
}
.gallery__images-card{
    position: relative;
    min-width: 310px;
    height: 447px;
    margin-right: 2rem;
}
.gallery__images-card img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
}
 .gallery__images-card :hover {
    opacity: 0.35;
}
 .gallery__images-arrow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    bottom: 5%;
     }
    /* position: absolute; /*  

   
   
     
    

 
    
   
   
    */


 .gallery__arrow-icon{
    color: var(--golden-color);
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--first-color);
    border-radius: 5px;
 }

.gallery__arrow-icon :hover{
    color: var(--white-color);

}

